.dropdown{
position: relative;
}

.btn{
    background-color: red;
    border: 1px dotted green;
    border-radius: 2px;
}

.dropdown_contant{
    position: absolute;
    top: 19px;
    left:0px;
    display: none;
    border-radius: 2px;
   
    }

li{
    list-style: none;
    padding: 5px 10px ;
}
a{
    text-decoration: none;
    font-size: 10px;
    color: black;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown:hover .dropdown_contant {
    background-color: rgb(170, 176, 170);
    display: block;
}
a:hover{
   text-decoration: underline;
}




